.asdf {
    overflow: auto;
    white-space: nowrap;
}

.btn-lightblue {
    color: #fff;
    background-color: #5b9bd5;
    border-color: #5b9bd5; /*set the color you want here*/
 }
 .btn-lightblue:hover {
    color: #fff;
    background-color: #1378d6;
    border-color: #1378d6; /*set the color you want here*/
 }