<div>
  List of Swim Lanes:
</div>

<!-- <div>
  <table border="1px solid black">
    <th *ngFor="let swimLane of swimLanes">
      {{swimLane.id}}
    </th>
    <tr>
      <td *ngFor="let swimLane of swimLanes">
        {{swimLane.name}}
      </td>
    </tr>
  </table>
  <input type="text" ([ngModel])="newSwimLane.name">
  <button type="button" class="btn btn-primary" (click)="createSwimLane()">New Swim Lane</button>
</div> -->

<div>
  <table border="1px solid black" *ngFor="let swimLane of swimLanes">
    <th>
      {{swimLane.name}}
    </th>
    <tr *ngFor="let card of swimLane.cards">
      <td>
        {{card.title}}
      </td>
    </tr>
  </table>
  <input type="text" ([ngModel])="newSwimLane.name">
  <button type="button" class="btn btn-primary" (click)="createSwimLane()">New Swim Lane</button>
</div>
