  @media (max-width: 720px) {
    .col-sm-auto {
      width: auto;
    }
  }
  @media (max-width: 1024px) {

  }
  .BoardSelector {
    background-color: #5b9bd5;
    /* padding: 1em; */
    border-radius: 100%;
    text-align: center;
    padding: 2em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
  }

  .BoardSelectorContainer {
    margin: auto;
    color: white;
    width: 80%;
  }

  button {
    margin: auto;
    background-color: #5b9bd5;
    border-color: #5b9bd5;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .image-container {
    margin: auto;
  }

  .home-container {
    width: 75%;
  }

  a {
    color: #f4b183;
  }

  input {
    margin-top: 1em;
  }