<div class="row">
<div class="col">
   
  </div>
<div class="home-container col-lg-auto">
    <div class="row"><div class="col"></div><div class="col-sm-auto"><img src="./assets/logo.PNG" class="img-fluid" alt="Hash-tag-polation"></div><div class="col"></div></div>
    
  <div class="row"><div class="col"></div><div class="col-sm-auto"><input type="text" #title></div><div class="col"></div></div>
  <div class="row"><div class="col"></div><div class="col-sm-auto"><button type="button" class="btn btn-primary" (click)="createBoard(title.value)">New Board</button></div><div class="col"></div></div>
  
  <div class="BoardSelectorContainer">
    <div *ngFor="let board of boards" class="BoardSelector" routerLink="/swim-lanes/{{board.id}}">
      <div>
        {{board.name}}
      </div>
    </div>

  </div>
</div>
<div class="col">

  </div>
</div>