<div card>
  <div inner body>
    <div>
      <input [(ngModel)]="card.title" id="title" type="text" placeholder="Title">
    </div>
    <div>
      <input [(ngModel)]="card.difficulty" id="difficulty" type="number" min=1 max=10 placeholder=1>
    </div>
    <br>
    <br>
    <div>
      <input [(ngModel)]="card.description" id="description" type="text" placeholder="Description">
    </div>
      <ul *ngFor="let task of tasks">
        <li >{{task.name}}</li>
      </ul>

    <div>
    <input [(ngModel)]="task.description" id="task" type="task">
    </div> 
    <div>
      <div>
      <button (click)="createCard()">Save</button> 
      </div>
  </div>
</div>

<!-- <div>
  List of Cards:
</div> -->

<!-- <div>
  <table>
    <ng-container *ngFor="let swimLane of swimLanes">
      <tr *ngFor="let card of swimLane">
        
          {{card}}
        
      </tr>
    </ng-container>
  </table>
</div> -->
<!-- <div>
  <table border="1px solid black">
    <th *ngFor="let card of cards">
      {{swimLane.slId}}
    </th>
    <tr>
      <td *ngFor="let card of cards">
        {{card.cTitle}}
      </td>
    </tr>
  </table>
</div> -->