<div modal>
<div class="modal-header">
  <h4 class="modal-title"><input value={{title}} id="title" type="text" placeholder="Title">
  </h4>
  Difficulty:
  <input value={{difficulty}} id="difficulty" type="number" min=1 max=10 placeholder=1>
</div>
<div class="modal-body">
      <div>
        <input value={{description}} id="description" type="text" placeholder="Description">
      </div>
      <br><br>
      <div>
        <app-task></app-task>
      </div>

      <div hidden>
          <input value={{id}} id="id" type="text">
          <input value={{order}} id="order" type="text">
          <input value={{slid}} id="slid" type="text">
      </div>
</div>
<div class="modal-footer">
  
  <button *ngIf="permissionsService.currentUserBoardRole.editCard"type="button" class="btn btn-outline-dark" (click)="createCard()">Save</button>
  <button *ngIf="permissionsService.currentUserBoardRole.deleteCard" type="button" class="btn btn-outline-dark" (click)="deleteCard()">Delete</button>

</div>