<div >
    <table class="table table-hover">
  
        <tbody>
          <tr *ngFor="let task of tasks">
              <div *ngIf="task.completed"><td><input  data-md-icheck (change)="checkedOffTask($event)"  [(ngModel)]="task.completed" type="checkbox" checked/></td><td><span class= "checked " >{{task.description}}</span> </td></div>
              <div *ngIf="!task.completed"><td><input  data-md-icheck (change)="checkedOffTask($event)"  [(ngModel)]="task.completed" type="checkbox" /></td><td><span  >{{task.description}}</span> </td></div>    
            
            <td> <button (click)="deleteTask(task)">delete</button></td>
          </tr>
        </tbody>
      </table>
    
    
      <input #taskDescription />
      <button (click)="addTask(taskDescription.value); taskDescription.value=''">Add</button> 
    


</div>

<!-- <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
      <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }} -->


<!-- <mat-selection-list >
  <mat-list-option > 
    {{task.description}}
  </mat-list-option>
  <button mat-button (click)="deleteTask()">delete</button>
</mat-selection-list>



<!-- <div>
  <div class="card" style="width: 18rem;">
      <ul style="list-style: none;" class="task">
          <li *ngFor="let task of tasks" >
            <div id="taskId" class="myTasks" class="list-group list-group-flush" >
              <input type='checkbox' > 
              <select id='myselectform' name="selectform_0">
                <option value="0"></option>
                <option value="1">delete</option>
                
                </select>
            </div>
          </li>
          </ul>
  </div> -->
<!--  
    <button (click)="addTask(taskDescription.value); taskDescription.value=''">Add</button>
    <input #taskDescription />


</div> -->



<!-- -->

<!-- *ngFor="let " -->
<!-- add(taskDescription.value); taskDescription.value='' -->

<!-- <lable>New task
 
</lable> -->


