
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<div>
  <div>
      <ul style="list-style: none;" class="task">
          <li *ngFor="let task of tasks">
            <div id="taskId" >
              <input type='checkbox' >
              <input  class="strikethrough" [(ngModel)]="task.tDescription" > 
              <select id='myselectform' name="selectform_0">
                <option value="0"></option>
                <option value="1">Update</option>
                <option value="1">delete</option>
                
                </select>
            </div>
          </li>
          </ul>
  </div>
 
    <button (click)="addTask(taskDescription.value); taskDescription.value=''">Add</button>
    <input #taskDescription />


</div>



<!-- -->

<!-- *ngFor="let " -->
<!-- add(taskDescription.value); taskDescription.value='' -->

<!-- <lable>New task
 
</lable> -->


