<div *ngIf="navService.visible">
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link active" routerLink="/home">Home</a>
  <a class="nav-item nav-link disabled" routerLink="/invite">Invite</a>
  <a class="nav-item nav-link" routerLink="/login">Logout</a>
</nav>
</div>
<!-- <nav class="nav nav-pills nav-justified" *ngIf="isLoggedIn">
  <a class="nav-item nav-link active" routerLink="/home">Home</a>
  <a class="nav-item nav-link" routerLink="/invite">Invite</a>
  <a class="nav-item nav-link" routerLink="/login">Logout</a>
</nav> -->
